/KDE
/QtProject.conf
/Trolltech.conf
/alacritty
/arkrc
/baloofilerc
/bluedevilglobalrc
/dconf
/dev.hhd.hhd-ui
/dolphinrc
/environment.d
/fish/conf.d
/gamescope
/glow
/gtk-3.0
/gtk-4.0
/gtkrc
/gtkrc-2.0
/ibus/bus
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kcminputrc
/kconf_updaterc
/kdeconnect
/kded5rc
/kdedefaults
/kdeglobals
/kglobalshortcutsrc
/konsolerc
/konsolesshconfig
/krunnerrc
/ksmserverrc
/ktimezonedrc
/kwinoutputconfig.json
/kwinrc
/libaccounts-glib
/lsfg-vk
/plasma-localerc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/pulse
/session
/spectaclerc
/systemmonitorrc
/user-dirs.dirs
/user-dirs.locale
/user-tmpfiles.d
/xsettingsd
/autostart
/toolbox
/plasmarc
/coc
/kmenueditrc
/kwalletrc
/mozilla
/pipewire
/plasma-nm
/plasmaparc
